[Unit]
Description=Timer for backup.service
Requires=backup.service

[Timer]
Unit=backup.service
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
